/* PHASE 1: Header */
body {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  background-color: #eee;
}

.header {
  background-color: red;
  border-bottom: 1px solid  #ccc;
}

.header a{
  display: block;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.header-nav {
  color: white;
  font-weight: 400;
  width: 900px;
  margin: auto;
  border-left: 1px solid  #ccc;
  border-right: 1px solid  #ccc;
}

.header-logo {
  font-weight: 700;
  float: left;
  border-right: 1px solid  #ccc;
}

.header-logo:hover {
  background-color: black;
}

.header-list {
  float: right;
}

.header-list > li{
  float: left;
  border-left: 1px solid  #ccc;
}

.header-list > li:hover {
  background-color: black;
}

.cf::after {
  content: "";
  clear: both;
  display: table;
}
