<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Welcome to 99Cats!</h1>
    <p>You have registered for 99Cats.com. Your username is <%= @user.username %> </p>
  </body>
</html>
